<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <body bgcolor="ECECEB"></body>
    </head>

<img src="{{ url_for('static', filename='inner_banner5.jpg') }}" width="1400" height="222">

<div align="center"  id="Track">
<h1><strong>Welcome </strong> Admin.</h1>
 <fieldset>

<div align="left">
                <p><form action="{{url_for('app.mainpage')}}" method="post">
<input type="submit" value="Return to Main Page" onclick="location.href='adminPage1.html'">
    </form>
            </div>
     <div align="right">
<form action="{{url_for('app.logout')}}" method="post">
         <input type="submit" value="LogOut" onclick="location.href='admin_login.html'">
</form></p>
</div>
<form action="{{url_for('app.adding')}}" method="post">

  
<p><strong>Product ID:</strong><input type="text" name="pid"></p>

<p><strong>User ID:</strong><input type="text" name="usid"></p>

<p><strong>Ordered Date:</strong><input type="date" name="ord_date"></p>

<p><strong>Estimated Del Date:</strong><input type="date" name="del_date"></p>

<p><strong>Delivery address:</strong><input type="text" name="address"></p>

<p><strong>Delivery status:</strong><input type="text" name="status"></p>

<p><strong>Contact number:</strong><input type="text" name="phno"></p>

<p><strong>Email Id:</strong><input type="text" name="email"></p>

    <strong>{{ error_message }}</strong>

<p><input type="reset"><input type="submit" value="ADD"></p>
</form>
</fieldset>

</div> 

<div align="center">
<span class="copyright">&copy Copyright 2015,All Rights Reserved</span>
</div>

</body>
</html>
