<html>

<body bgcolor="ECECEB">
<img src="{{ url_for('static', filename='inner_banner5.jpg') }}" width="1400" height="222">
<center>
    <div align="center">
        <div align="left">
    <form action="{{url_for('app.home')}}" method="post">
<p><input type="submit" value="Return to Home Page" onclick="location.href='title.html'"></p>
    </form>
</div>

    <form action="{{url_for('app.verify_secret_answer')}}" method="post">
        <p><strong>Secret Question:</strong><input style="width:400px" type="text" name="secret_question" value="{{ secret_question }}"  readonly ></p>
        <p><strong>Username:</strong><input type="text" name="un" value="{{ un }}" readonly></p>
        <p><strong>Answer:</strong><input type="text" name="ans" ></p>
        {{ error_message1 }}
        {{ error_message2 }}
        <pre>        <input type="submit" name="submit" value="submit"></pre>
    </form>
</div>
</center>
</body>
</html>