<html>

<body bgcolor="ECECEB">
<img src="{{ url_for('static', filename='inner_banner5.jpg') }}" width="1400" height="222">
<center>
    <div align="center">
        <div align="left">
    <form action="{{url_for('app.home')}}" method="post">
<p><input type="submit" value="Return to Home Page" onclick="location.href='title.html'"></p>
    </form>
</div>

    <form action="{{url_for('app.forgotpassword1')}}" method="post">
        <p><strong>Username:</strong><input type="text" name="un" ></p>
        {{ error_message1 }}
        {{ error_message2 }}
        <pre>        <input type="submit" name="submit" value="submit"></pre>
    </form>
</div>
    </center>
<div align="center">
<span class="copyright">&copy Copyright 2015,All Rights Reserved</span>
</div>
</body>
</html>
