

<html>
	<head>
		      
	</head>

	
	<body > 

		


<form id="form_id" method="post" name="myform">

		<table align='center' border=1 cellpadding=3 >
<tr>
		  <td colspan = 2 align = "center"><h2>LOGIN</h2></td>
		
</tr>

<tr>
<td colspan = 2 align = "center">
<select>
  <option value="Admin">Admin</option>
  <option value="Donar">Donar</option>
</select></td>
		
</tr>
  
<tr>
    <td align = "center"><label>User Name :</label></td>
    <td align = "center"><input type="text" name="username" id="username"/></td></br>
</tr>

<tr>
    <td align = "center"><label>Password :</label></td><td align = "center">
    <input type="password" name="password" id="password"/></td>
</tr>

<tr >
	 <td colspan = 2 align = "center"> <input type="submit" name="submit" value="Login"
	 colspan = 2 align = "center"> <input type="reset" /></td>
</tr>

</table>
</form>
		
		
 </body>
</html>
