<html>
<body bgcolor="ECECEB">
<center>
<img src="../static/inner_banner5.jpg" width="1400" height="222">
</center>
<p><form action="{{url_for('app.admin')}}" method="post">
<a href="admin_login.html" target="rightt" ><strong></strong>
<input type="image" src="../static/admin_click.jpg" width="440" height="88" border="0" align="left"/></a>
    </form>
<form action="{{url_for('app.user')}}" method="post">
<a href="user_login.html" target="right" ><strong></strong>
<input type="image" src="../static/user_click.jpg" width="440" height="88" border="0" align="right"/></a>
    </form></p>
<br><br>
<center><p>
    <pre>



</pre>
<h1>MISSION</h1>
<h4>Our goal is to integrate human capital and resources to boost international logistics while granting great value to our commercial associates.</h4>

<h1>VISION</h1>
<h4>We aim to set an example of creative delivery</h4>

<h1>PURPOSE</h1>
<h4>1.Creativity and innovation</h4>
<h4>2.Delivery Quality service to all of our clients</h4>
<h4>3.Customer Orientation</h4>
</center>

<div align="right">
<h4><strong>Customer care Numbers</strong></h4>
<h4>+919533909220</h4>
<h4>+919618327472</h4>

<div align="center">
<span class="copyright">&copy Copyright 2015,All Rights Reserved</span>
</div>

</div>
</body>
</html>
